@font-face {
    font-family: 'g-guelo';
    src: url(../res/fonts/g-guelo-font/Guelo-d9mXl.otf);
}
@font-face {
    font-family: 'lanecar';
    src: url(../res/fonts/lanecar-font/Lanecar-K79RW.otf);
}